.layout{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFE9AF 100%);
}
.header{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.content{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.morning-tab{
    display: flex;
    width: 228px;
    height: 45px;
    background: #FFFFFF;
    border: 4px solid #FDE9D7;
    border-radius: 20px;
}
.morning-tab .morning-tab-activated{
    height: 100%;
    width: 50%;
    background: #FDB573;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.morning-tab .morning-tab-deactivated{
    height: 100%;
    width: 50%;
    background: #FFFFFF;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.afternoon-tab{
    display: flex;
    width: 228px;
    height: 45px;
    background: #FFFFFF;
    border: 4px solid #D7EBFD;
    border-radius: 20px;
}
.afternoon-tab .afternoon-tab-activated{
    height: 100%;
    width: 50%;
    background: #69C1F2;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.afternoon-tab .afternoon-tab-deactivated{
    height: 100%;
    width: 50%;
    background: #FFFFFF;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.evening-tab{
    display: flex;
    width: 228px;
    height: 45px;
    background: #FFFFFF;
    border: 4px solid #797D89;
    border-radius: 20px;
}
.evening-tab .evening-tab-activated{
    height: 100%;
    width: 50%;
    background: #B0C6FF;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.evening-tab .evening-tab-deactivated{
    height: 100%;
    width: 50%;
    background: #FFFFFF;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.canvas-layout{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.canvas-circle{
    background: url("./Canvas.svg");
    border: 8px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.date-wrapper{
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 300px;
    align-items: flex-start;
    padding-bottom: 10px;
}

.tools-layout{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tools-grid{
    display: flex;
    min-width: 180px;
    max-width: 180px;
    justify-content: space-evenly;
    margin-top: 15px;
}
.tool-circle{
    display: flex;
    border: 4px solid #FFFFFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05));
    background: #96B3FF;
    align-items: center;
    justify-content: center;
}
.tool-circle-toggled{
    border: 4px solid #FFFFFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05));
    background: rgba(192, 192, 192, 0.6);
}
.date-styling{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 800;
    color: #FDB573;
    margin-top: 50px;
}
.prompt-styling{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    text-align: left;
    font-size: 24px;
}
.evening-prompt-styling{
    color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    text-align: left;
    font-size: 24px;
}
.button-styling{
    background-color: #FDB573;
    width: 172px;
    height: 45px;
    border: none;
    border-radius: 20px;
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 40px;
}
.clear-button-styling{
    background: #FDB573;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(71, 71, 71, 0.05);
    border-radius: 20px;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    color: #fff;
    margin: 15px;
}
.signin-button-styling{
    color: #FDB573;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(71, 71, 71, 0.05);
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 45px;
}
.calendar-layout{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.calendar-grid{
    aspect-ratio: 1/1;
    width: 90%;
    max-width: 300px;
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    grid-template-rows: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    grid-template-areas:
        "dd0 dd1 dd2 dd3 dd4 dd5 dd6"
        "a00 a10 a20 a30 a40 a50 a60"
        "a01 a11 a21 a31 a41 a51 a61"
        "a02 a12 a22 a32 a42 a52 a62"
        "a03 a13 a23 a33 a43 a53 a63"
        "a04 a14 a24 a34 a44 a54 a64"
        "a05 a15 a25 a35 a45 a55 a65";
}
.calendar-entry-wrapper{
    height: 90%;
    aspect-ratio: 1/1;
    align-self: center;
    justify-self: center;
}
.calendar-entry{
    height: 100%;
    align-self: center;
    justify-self: center;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.calendar-entry-empty{
    height: 90%;
    align-self: center;
    justify-self: center;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.calendar-grid h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    color: #595959;
    margin: 0;
    align-self: center;
    justify-self: center;
}
.calendar-layout h2{
    padding-left: 28px;
    width: 90%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #FDB573;
    text-align: left;
    align-self: center;
    justify-self: center;
    max-width: 500px; 
}
.modal-text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    margin-top: 50px;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #474747;
}

.modal-text-date{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #FDB573;
}

.modal-styling{
    width: 338px;
    height: 480px;
    background: #FFFFFF;
    border: 5px solid rgba(226, 226, 226, 0.45);
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-self: center;
}

.modal-face{
    border: 8px solid #fff;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);   
    width: 250px;
    height: 250px;
    margin-top: 30px;
}

