.layout{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFE9AF 100%);
}
.header{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.content{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tab{
    display: flex;
    width: 228px;
    height: 45px;
    background: #FFFFFF;
    border: 4px solid #FDE9D7;
    border-radius: 20px;
}
.tab .tab-activated{
    height: 100%;
    width: 50%;
    background: #FDB573;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab .tab-deactivated{
    height: 100%;
    width: 50%;
    background: #FFFFFF;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.canvas-layout{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.date-wrapper{
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: flex-start;
}
.date-styling{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 800;
    color: #FDB573;

}
.prompt-styling{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    text-align: left;
    font-size: 24px;
}
.button-styling{
    background-color: #FDB573;
    width: 172px;
    height: 45px;
    border: none;
    border-radius: 20px;
    font-weight: 800;
    font-size: 16px;
}
.calendar-layout{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.calendar-grid{
    aspect-ratio: 7/6;
    width: 90%;
    max-width: 500px;
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    grid-template-areas:
        "a00 a10 a20 a30 a40 a50 a60"
        "a01 a11 a21 a31 a41 a51 a61"
        "a02 a12 a22 a32 a42 a52 a62"
        "a03 a13 a23 a33 a43 a53 a63"
        "a04 a14 a24 a34 a44 a54 a64"
        "a05 a15 a25 a35 a45 a55 a65";
    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; */
}
.calendar-entry{
    height: 90%;
    align-self: center;
    justify-self: center;
    border: 1px solid #FDB573;
}
.calendar-entry-empty{
    height: 90%;
    align-self: center;
    justify-self: center;
    border: 1px solid #FDB573;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.days-of-week{
    width: 90%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
}
.days-of-week h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    color: #595959;
    margin: 0;
}
.calendar-layout h2{
    margin: 0;
    /* aspect-ratio: 1/1; */
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    color: #FDB573;
    text-align: left;
    align-self: center;
    justify-self: center;
    /* width: 84%;
    max-width: 500px;
    text-align: left; */
}